@page
@model Proyectos.App.Presentacion.Pages.Formadores.ListModel
@{
   //var searchString = Model.searchString; 
   ViewData["Title"] = "Lista de Formadores";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h2><div class="text-info">Lista de Formadores</h2>
            </div>
            <div class="col-sm-6">
                <a asp-page="Crear" class="btn-primary btn-primary">Crear Nuevo Formador</a>
            </div>            
        </div>    
    </div>
    <div class="card-body">
        @if (Model.formadores.Count() > 0) {
            <br /><br />
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>ID</th>
                    <th>IDENTIFICACION</th>
                    <th>NOMBRES</th>
                    <th>MAIL</th>
                    <th>MOVIL</th>
                    <th>ACTIVO</th>
                    <th>ACCION1</th>
                    <th>ACCION2</th>
                    <th>ACCION3</th>
                </tr>
                @foreach (var item in Model.formadores)  {
                <tr>
                    <td>@item.id</td>
                    <td>@item.identificacion</td>
                    <td>@item.nombre</td>
                    <td>@item.mail</td>
                    <td>@item.movil</td>
                    <td>@item.vigente</td>

                    <td>
                        <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-formadorId="@item.id">
                            Detalle</a>
                    </td>

                    <td>
                        <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-formadorId="@item.id">
                            Editar
                        </a>
                    </td> 

                    <td>
                        <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-formadorId="@item.id">
                            Eliminar
                        </a>
                    </td> 
                </tr>    
                }
            </table>
        }else{
            <p>No hay Formadores para Listar</p>
        }
    </div>
</div>


